<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleindex.css">
    <link rel="stylesheet" href="style.css">
    <%- include('../partials/bootstrap') %>
</head>
<body>
    <%- include('../partials/nav') %>
    <br>
    <p style="text-align:center;"><a style="text-align: center;color:rgb(129, 139, 129);font-size: 3em;" href="/blogs/new"><i id="add" class="fas fa-plus-circle"></i></a></p>
    <ul>
        <div class="row">
        <%for(let blog of blogs){%>
            <div class="col-lg-3 mb-4">
            <div class="card" style="width: 18rem;">
                <img src="<%= blog.img %>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= blog.name %></h5>
                  <h6 class="card-title" style="text-transform: capitalize;"><%= blog.author %></h6>
                  <p class="card-text" id="overflow"><%= blog.desc %></p>
                  <div style="margin-left: 30px;" class="btn-group" role="group" aria-label="Basic mixed styles example">
                   <% if(checklogin){%>
                    <%if(blog.author==currentUser.username){%>
                        <a href="/blogs/<%= blog._id %>" type="button" class="btn btn-warning">Show</a>
                        <a href="/blogs/<%= blog._id %>/edit" type="button" class="btn btn-success">Edit</a>
                        <form style="display: inline;" method="POST" action="/blogs/<%= blog._id %>?_method=DELETE">
                        <button style="margin-left:-3px;" class="btn btn-danger">Delete</button>
                        </form>
                        <%}else{%>
                        <a style="margin-left: 100%;" href="/blogs/<%= blog._id %>" type="button" class="btn btn-warning">Show</a>
                        <%}%>
                    <%}else{ %>
                    <a style="margin-left: 100%;" href="/blogs/<%= blog._id %>" type="button" class="btn btn-warning">Show</a>
                    <% } %>
                </div>
                </div>
              </div>
            </div>
        <%}%>
    </div>
    </ul>
</body>
</html>