<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleshow.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap" rel="stylesheet">
    <%- include('../partials/bootstrap') %>
    <title>Show</title>
</head>
<body>
    <%- include('../partials/nav') %>
    <br>

    <img style=" display: block;margin-left: auto;margin-right: auto;width: 50%; object-fit: cover;" width="500" height="400" src="<%= blog.img %>">

    <h1 style="text-align: center;"><%= blog.name %></h1>

    <div class="card">
        <div class="card-body">
          <p class="card-text"><%= blog.desc %></p>
        </div>
      </div>
   
    <h5 style="text-align: center;">from <%= blog.author %></h5>
    <br>
    <form style="display: inline;" method="POST" action="/blogs/<%= blog._id %>/comment">
      <div class="cmntdiv">
      <h6>Comments</h6>
      <textarea name="comments[body]" class="cmnt" placeholder="Add a new comment..." rows="4" cols="60" style="text-align: justify;resize: none;"></textarea><br>
      &nbsp<button style="margin-left:-3px;" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <br>
        <%for(let cmnt of blog.comments){%>
        <br>
        <div class="cmntdes"><p style="text-transform: capitalize;font-weight: bold;"><%= cmnt.username %>&nbsp&nbsp&nbsp<span style="font-weight: 100;font-size: 0.7em; float:right;"><%= cmnt.time %></span></p><p><%= cmnt.body %></p>
          <% if(checklogin){ %>
            <%if(cmnt.username==currentUser.username){%>
          <form method="POST" action="/blogs/<%= blog._id %>/<%=cmnt._id %>?_method=DELETE">
          <button id="delbtn" type="submit" class="btn btn-default" style="float:right;" ><i class="fas fa-trash"></i></button>
          </form>
          <%}else{}%>
          <%}else{}%>
       </div>
      <%}%>
    <br>
</body>
</html>